<div class="container-fluid">
  <div class="row">
    <div class="titleHeader">
      <h2>
        Vote
      </h2>
    </div>
  </div>

  <div class="card" *ngFor="let votex of allVotes">
    <div class="card-body">
      <h4 class="card-title">{{votex.voteName}}
      <button type="button" class="btn btn-primary pull-right" (click)="openModal('followers-modal',votex.voteName)">Vote</button> 
    </h4>
    </div>
  </div>

</div>

<jw-modal id="followers-modal">
  <div class="container-fluid">
    <div class="row">
      <div class="titleHeader-follows">
        {{modalTitle}}
      </div>
    </div>

    <div class="row">
      <div class="scrollbar scrollbar-primary">
        <div class="followList">

          <ul *ngIf="voteOptions">
            <li *ngFor="let opt of voteOptions">
              <div class="follow small">
                <i class="fa fa-user"></i>
                <p class="user">
                  {{ opt }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="btn btn-light" (click)="closeModal('followers-modal')">
      Close
    </button>
  </div>
</jw-modal>