<div class="container-fluid">
  <div class="row">
    <div class="titleHeader">
      <h2>
        Vote
      </h2>
    </div>
  </div>

  <div class="card" *ngFor="let votex of allVotes">
    <div class="card-body">
      <h4 class="card-title">
        {{ votex.voteName }}
        <button
          type="button"
          class="btn btn-primary pull-right"
          (click)="openModal('vote-modal', votex.voteAddress)"
        >
          Vote
        </button>
      </h4>
    </div>
  </div>
</div>

<jw-modal id="vote-modal">
  <div class="container-fluid">
    <div class="row">
      <div class="titleHeader-follows">
        {{ modalTitle }}
      </div>
      <p>{{ votedesc }}</p>
    </div>

    <form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="voteAddress" />
      <div class="row">
        <div class="scrollbar scrollbar-primary">

          <div class="form-group">
            <div *ngIf="submitted && f.voteOption.errors" class="alert alert-danger alert-dismissible fade show">
              <div *ngIf="f.voteOption.errors.required">Please make a selection</div>
            </div>
            <div *ngIf="voteOptions">
              <div *ngFor="let opt of voteOptions" class="form-check">
                <label class="form-check-label" for={{opt.optionName}}>
                  <input
                    type="radio"
                    class="form-check-input"
                    id={{opt.optionName}}
                    formControlName="voteOption"
                    value={{opt.optionName}}
                  />{{opt.optionName}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-light" type="submit" [disabled]="loading">
        <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
        Submit
      </button>
      &nbsp;
      <button class="btn btn-light" type="reset" (click)="closeModal('vote-modal')">
        Close
      </button>
    </form>
  </div>
</jw-modal>