<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <h3 class="center-align">{{ currentUser.username }}</h3>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <button
          class="btn btn-light-profile"
          (click)="openModal('followers-modal')"
        >
          Followers
        </button>&nbsp;

        <button
          class="btn btn-light-profile"
          (click)="openModal('following-modal')"
        >
          Following
        </button>&nbsp;

        <button class="btn btn-light-profile" routerLink="/edit">
          Edit profile
        </button>&nbsp;
      </div>
    </div>
  </div>

  <!-- Posts -->

  <div class="row top-buffer">
    <div class="titleHeader">
      <h2>
        Your posts
      </h2>
    </div>
  </div>

  <div class="row">
    <ul class="col-md-12" *ngIf="posts">
      <li *ngFor="let post of posts">
        <div class="postHeader col-md-12">
          <div class="row">
            <i class="col-md-2 fa fa-user"></i>
            <p class="user">
              {{ currentUser.username }}
            </p>
          </div>
        </div>

        <div class="postBody col-md-12">
          <p class="post">
            {{ post.content }}
          </p>
          <i class="material-icons small" (click)="deletePost(post.id)"
            >cancel</i
          >
        </div>
      </li>
    </ul>
    <div *ngIf="posts.length === 0" class="notFound">
      <p class="post">No posts found</p>
    </div>
  </div>
</div>

<!--  -->
<!--  -->
<!--  -->

<!-- Followers modal -->

<jw-modal id="followers-modal">
  <div class="container-fluid">
    <div class="row">
      <div class="titleHeader-follows">
        <h1>Followers</h1>
      </div>
    </div>

    <div class="row">
      <div class="scrollbar scrollbar-primary">
        <div class="followList">
          <div *ngIf="followers.length === 0" class="notFound">
            <p class="post">You don't have any followers</p>
          </div>
          <ul *ngIf="followers">
            <li *ngFor="let user of followers">
              <div class="follow small">
                <i class="fa fa-user"></i>
                <p class="user">
                  {{ user.userName }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="btn btn-light" (click)="closeModal('followers-modal')">
      Close
    </button>
  </div>
</jw-modal>

<!-- Following modal -->

<jw-modal id="following-modal">
  <div class="container-fluid">
    <div class="row">
      <div class="titleHeader-follows">
        <h1>Following</h1>
      </div>
    </div>

    <div class="row">
      <div class="scrollbar scrollbar-primary">
        <div class="followList">
          <div *ngIf="following.length === 0" class="notFound">
            <p class="post">You don't follow any users</p>
          </div>
          <ul *ngIf="following">
            <li *ngFor="let user of following">
              <div class="follow small">
                <i class="fa fa-user"></i>
                <p class="user">
                  {{ user.userName }}
                </p>
                <div *ngIf="isClicked(user.id)">
                  You unfollowed {{ user.userName }}!
                </div>
                <i
                  *ngIf="!isClicked(user.id)"
                  class="material-icons small unfollow"
                  (click)="unFollowUser(user.id)"
                  >remove_circle</i
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button class="btn btn-light" (click)="closeModal('following-modal')">
      Close
    </button>
  </div>
</jw-modal>
